
.vs/
x64/
glfw/
Library/
UserSettings/
dxc/
boost/
Debug/
glm/
build/
Logs/
.xmake/
.cache/
compile_commands.json
bin/
obj/
Release/
Temp/
vengine/glfw/
vengine/OodleTexture/
build/shaders/
build/VEngine_DLL.dll
build/VEngine_Compute.dll
build/VEngine_Network.dll
build/Yaml_CPP.dll
*.lnk
**/*.exp
**/*.iobj
**/*.ipdb
**/*.pdb
**/*.ilk
**/*.vcxproj
*.cache
__pycache__/
Eigen/
build/VEngine_Database.dll
build/VEngine_Unity.dll
workspace/**
!premake/**